.image-editor {
  width: 800px;
  height: 600px;
  overflow: auto;
  padding: 20px 20px;
  position: relative;
  box-sizing: border-box;
  position: relative;
  background-position: 0 0, 10px 10px, 10px 10px, 20px 20px;
  background-size: 20px 20px;
  background-color: #e3e7e9;
  background-image: linear-gradient(45deg, #f6fafc 25%, transparent 0),
  linear-gradient(45deg, transparent 75%, #f6fafc 0),
  linear-gradient(45deg, #f6fafc 25%, transparent 0),
  linear-gradient(45deg, transparent 75%, #f6fafc 0);

  &__img {
    user-select: none;
  }

  &__files-tab {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
    background-color: rgba(245, 245, 245, 0.2);
    &__item {
      width: 70px;
      height: 70px;
      margin-right: 20px;
      border-radius: 10px;
      cursor: pointer;
      box-sizing: border-box;
      border: 2px solid;
      overflow-clip-margin: content-box;
      overflow: clip;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}